<div class="video-container">
  <video
    #videoPlayer
    width="100%"
    (ended)="onVideoEnded()"
    (timeupdate)="onTimeUpdate()"
  >
    <source [src]="currentSrc" type="video/mp4" />
    Dein Browser unterstützt dieses Videoformat nicht.
  </video>

  <!-- Start-Overlay nur ganz am Anfang -->
  <div class="start-overlay" *ngIf="!hasUserInteracted">
    <button class="start-button" (click)="startExperience()">
      Klicke um zu beginnen
    </button>
  </div>

  <button class="skip-button" (click)="skipToEnd()">Überspringen</button>

  <div class="overlay" *ngIf="showChoices">
    <button
      *ngFor="let choice of currentVideoNode?.choices"
      (click)="chooseOption(choice)"
      class="overlay-button"
      [ngStyle]="{
        top: choice.buttonPosition.top,
        left: choice.buttonPosition.left,
        width: choice.buttonPosition.width,
        height: choice.buttonPosition.height
      }"
    >
      {{ choice.text }}
    </button>
  </div>
</div>
